@using Sig.App.Backend.Helpers
@using System.Globalization
@using Sig.App.Backend.Constants

@model Sig.App.Backend.EmailTemplates.Models.MonthlyBalanceReportEmail
@{ Layout = "_EmailLayout.cshtml"; }

<p>
    Bonjour,
    Voici le rapport mensuel de transaction pour le programme @Model.Project.Name
</p>

@foreach (var report in Model.Reports) {
    <h1>@(report.Market.IsArchived ? "[Archivé] " : "")@report.Market.Name</h1>
    <p>Montant total des transactions du dernier mois : @report.Total.ToString("C", CultureInfo.CreateSpecificCulture("fr-CA"))</p>
}
<p>
    Si vous ne souhaitez plus recevoir de courriels, vous pouvez vous désabonner en cliquant ici : <a clicktracking="off" href="@Model.BaseUrl/@UrlHelper.UnsubscribeFromEmail(Sig.App.Backend.DbModel.Enums.EmailOptIn.MonthlyBalanceReportEmailJanuary)">Se désabonner</a>
</p>
<br />
<p>
    Hello,
    Here is the monthly transaction report for the @Model.Project.Name program
</p>

@foreach (var report in Model.Reports) {
    <h1>@(report.Market.IsArchived ? "[Archive] " : "")@report.Market.Name</h1>
    <p>Total amount of transactions in the last month : @report.Total.ToString("C", CultureInfo.CreateSpecificCulture("en-CA"))</p>
}
<p>
    If you no longer wish to receive emails, you can unsubscribe by clicking here : <a clicktracking="off" href="@Model.BaseUrl/@UrlHelper.UnsubscribeFromEmail(Sig.App.Backend.DbModel.Enums.EmailOptIn.MonthlyBalanceReportEmailJanuary)">Unsubscribe</a>
</p>